:root {
    --fuentePrincipal:  'Montserrat', sans-serif;
    --fuenteSecundaria: 'PT Sans', sans-serif;

    --primario: #f1a94e;
    --secundario: #44b3c2;
    --claro: #ffffff;
}

body {
    font-family: var(--fuentePrincipal);
}
.contenedor {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 2.6rem;
}
h3 {
    font-size: 2.4rem;
}
p{
    font-family: var(--fuenteSecundaria);
    font-size: 1.2rem;
    line-height: 2rem;
}
/*encabezado*/
.hero{
    background-image:url(../img/fondo.webp);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.hero:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}
.hero .contenedor{
    display:grid;
    align-content: center;
    height: 100vh;
}
.hero .contenido{
    text-align: center;
    color:var(--claro);
    position: relative;
    
}
.titulo{
    margin:0;
}
.subtitulo{
    font-size: 1.6rem;
}
/*services*/
.servicios{
    text-align: center;
    margin-top: 3rem;
}

.servicios h2{
    font-size: 1.8rem;
    padding-bottom: .5rem;
}

.servicios h2::after{
    height: .5rem;
    width: 7rem;
    background-color: var(--primario);
    content: "";
    display: block;
    margin: 1rem auto 0 auto;
}

.servicios i{
    font-size: 3rem;
    color:var(--secundario)
}

@media(min-width:992px){
    .servicios{
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        column-gap: 2rem;
    }
    
    .servicio{
        border-radius: 10px;
        box-shadow: 2px 2px 7px 6px #e1e1e1;
        padding: 1rem;
    }
}


/*port*/

.elemento{
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 3rem;
}
.elemento:last-of-type{
    border:none;
}


@media(min-width:768px){
    .listado{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 2rem;
        grid-auto-rows: max-content;
    }
    .listado h3{
        text-align: center;
    }
    .listado p{
        text-align: center;
    }
    .elemento{
        border:none;
        box-shadow: 2px 2px 7px 6px #e1e1e1;
        border-radius: 3px;
        transition:all .3s;
    }
    .elemento:hover{
        box-shadow: 2px 2px 7px 6px #adadad;
        
    }
    .elemento:nth-child(3){
        grid-row-end: span 2;
    }
}

/*ft*/
.footer{
    background-image: url(../img/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:var(--claro);
    padding: 2rem 0;
}
@media(min-width:768px){
    .footer .contenedor{
        display: grid;
        grid-template-columns: repeat(2,30%) auto;
    }
}